:root {
    --primarycolor: #ff274b;
    --secondarycolor: #f7bcf7;
    --lightcolor: #ffffff;
    --bgcolor-1: #171a1c;
    --bgcolor-2: #22282a;
    --padding: 8%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'josefin sans', sans-serif;
    font-size: 16px;
   color: var(--lightcolor);
}

.home {
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor-1);
    display: flex;
    flex-direction: column;
} 

span {
    color: var(--primarycolor);
} 

h2 {
    font-size: 20px;
    letter-spacing: 1.5px;
    cursor: pointer;
} 

nav {
    padding-top: 40px;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

nav li a {
    text-decoration: none;
    color: var(--lightcolor);
    text-transform: uppercase;
    transition: 0.4s;
}

nav li a:hover {
    color: var(--primarycolor);
}

.btn {
    background-color: var(--primarycolor);
    color: var(--lightcolor);
    text-decoration: none;
    font-size: 23px;
    font-weight: 700;
    padding: 17px;
    box-sizing: 30px;
    transition: 0.4s;
    border-radius: 20px;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--primarycolor);
}

.content {
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-texts {
    position: relative;
    bottom: 70px;
}

h1 {
    font-size: 60px;
    margin: 1.7rem;
}

h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 60px;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.12rem;
    color: var(--secondarycolor);
}

.social {
    margin-top: 50px;
}

.social img {
    margin-right: 20px;
    transition: 0.9s;
}

.social img:hover {
    transform: scale(1.7);
}

.content-img {
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}

.content-img img {
    position: absolute;
    bottom: 0;
    width: 100%; 
    height: 100%;
    transition: bottom 2s, left 11s;
}

.content-img:hover .shape{
   bottom: 50px;
}

.content-img:hover .mypic{
   left: 50px;
}

/***************************/

nav #icon {
    color: #fff;
    font-size: 30px;
    float: right;
    margin-top: 30px;
    margin-right: -40px;
    cursor: pointer;
    display: none;
}

@media (max-width:1350px) {
    .header .nav {
        width: 100%;
        float: left;
        list-style: none;
        text-align: right;
        font-size: 15px;
        margin-top: -100px;
    }
    .header .nav > li > a {
        display: block;
        padding: 40px 7px; 
        color: #fff;
        direction: 500s;
    }
}

@media (max-width:1048px) {
    label.nav {
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul {
        margin-right: 20px;
    }
    nav a {
        font-size: 17px;
    }
}

@media (max-width:909px) {
    nav #icon {
        display: block;
        margin-top: -90px;
       margin-left: -500px;
    } 
    nav ul {
        position: fixed;
        display: block;
        width: 100%;
        height: 100vh;
        background: hsl(215, 15%, 22%);
        top: 0px;
        left: -250%;
        text-align: center;
        transition: all 0.5s;
        z-index: 10;
    }
    nav li {
        display: block;
        margin-bottom: -70px;
        line-height: 30px;
        width: 100%;
        text-align: center;
    }
    nav a {
        font-size: 20px;
        display: block;
    }
    a.active ,a.hover {
        border: none;
        color: #3498db;
    }
    nav ul.show {
        left: 0;
    }
}